html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url(./img/life-and-tetris.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: rgb(8, 122, 122);
  border: 1px solid white;
}
